nav ul{
    flex-direction: column;
}

body{
    width:95%;
    margin: 5% auto;
}
nav li{
    width: 80%;
    padding: rem(10);
    margin:rem(2.5) auto;
    background-color: $color-2;
    border-radius: rem(2.5);
}