$white: #fff;
$black: #000000;

$color-1: rgb(161, 228, 255);
$color-2: rgb(0, 136, 91);
$color-3: rgb(0, 113, 158);

$color-4: rgb(240, 132, 132);
$color-5: rgb(212, 192, 78);

//---- rem calculator from px

// from css tricks - this function named "em" uses two variables ($pixels and $context) ($context is set by $browser-context value using :)
//  the result is returned using @return # with the equation of {$pixels/$context}
$browser-context: 16; //default
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

// // this function could possibly allow for scaling of text across screen sizes in the future.
// $font-size: 1; //default
// @function font-size($rem,$multiplier: $font-size){
//     @return #{$rem*$multiplier}rem;
// }